/* Global Section Styling */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #000; /* Black background */
  padding: 4rem 2rem;
  color: #fff;
}

/* Left Side - Image */
.hero-image-container {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100%;
  max-width: 400px;
  height: 500px;
  vertical-align: middle;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  transition: transform 0.5s ease-in-out;
  margin-top: 60px;
}

.hero-image:hover {
  transform: scale(1.05);
}

/* Right Side - Content */
.hero-content {
  text-align: center;
  width: 100%;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1rem;
  animation: pulse 2s infinite;
}

/* Animation */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.hero-name {
  display: block;
  color: #b91c1c;
  font-size: inherit;
  font-weight: bolder;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #a3a3a3; /* Light Gray */
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.125rem;
  color: #d4d4d4; /* Softer Gray */
  margin-bottom: 2rem;
  line-height: 1.75;
}

.hero-button {
  padding: 0.75rem 2rem;
  background-color: #dc2626; /* Red */
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  width: 170px;
  height: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #b91c1c; /* Darker Red */
  transform: scale(1.05);
}

/* Media Queries */

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
  }

  .hero-image-container {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .hero-content {
    text-align: left;
    max-width: 50%;
  }

  .hero-title {
    font-size: 3rem;
  }
}

/* For larger screens (laptops, desktops) */
@media (min-width: 1024px) {
  .hero-title {
    font-size: 3.5rem;
  }

  .hero-button {
    padding: 0.75rem 2.5rem;
  }

  .hero-description {
    font-size: 1.25rem;
  }
}
